
<div class="nav blur" >
    <div class="left">
        <div class="image"><img src="Logo/whiticon.png" alt=""></div>
            <div class="home">
                 <i class="fa-solid fa-house"></i>
                 <div class="tooltip-text">Home</div>
            </div>
        <div class="glow-wrap">
            <div class="input box">
                <i class="fa-solid search fa-magnifying-glass"></i>
                <input id="searchBar" type="text" placeholder="What you want to play?" name="input">
                <i class="fa-solid browser fa-window-restore"></i>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="premium">
           <a href="https://www.spotify.com/in-en/premium/" target="_blank" rel="noopener noreferrer"> <p>Premium</p></a>
            <a href="https://support.spotify.com/in-en/" target="_blank" rel="noopener noreferrer"><p>Support</p></a>
            <a href="https://www.spotify.com/in-en/download" target="_blank" rel="noopener noreferrer"><p>Download</p></a>
        </div>
        <div class="install">
            <a href="https://open.spotify.com/download" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-circle-arrow-down"></i>
            install App</a>
        </div>
        <% if(!currUser) {%>
            <div class="signup" id="signup-btn">Sign-up</div>
            <div class="login" id="login-btn">Login</div>
        <% } %>
        <% if(currUser) {%>
            <a href="/api/logout" ><div id="logoutBtn"  class="login" >Logout</div></a>
        <% } %>
       
    </div>
</div>
<div class="fake"></div>