.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  background-color: black;
}
.first{
  display: flex;
  align-items: center;
  height: 100%;
  color: white;
  width: 400px;
}
.c p{
  margin-left: 1rem;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.c p:hover{
  text-decoration: underline;
}
.footer-singer{
  opacity: 0.7;
}
.first img{
  margin: 0 0 0.5rem 0.9rem;
  width: 4.3vw;
  border-radius: 5px;
}
.player{
    display: flex;
    height: 100%;
    width: 650px;
    min-width: 330px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.controler {
  display: flex;
  align-items: center;
}
.controler i{
  margin: 0 0.8rem 0 0.8rem;
  font-size: 20px;
  color: white;
  opacity: 0.7;
  transition: transform 0.1s ease;
}

.loader {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: conic-gradient(
    #3b82f6,
    #9333ea,
    #3b82f6
  );
  animation: spin 1s linear infinite;
  mask: radial-gradient(farthest-side, transparent 60%, #000 61%);
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.controler i:hover{
   transform: scale(1.03);
   opacity: 1;
}

.playback-bar{
  display: flex;
  width: 100%;
}
.playback-bar span{
   color: white;
   margin: 0 0.6rem ;
   min-width: 2rem;
}

#playback-bar input{
  width: 85%;
  appearance: none;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: white;
    height: 0.2rem;
    border-radius: 100px;
}
.progress-bar::-webkit-slider-thumb{
    height: 1rem;
    width: 1rem;
    appearance: none;
    border-radius:50% ;
    background-color: rgb(41, 145, 41);
    margin-top: -6px;
    cursor: pointer;
}

.third{
  height: 100%;
  width: 25vw;
  color: white;
  display: flex;
  justify-content: center;
 
}
@media (max-width:964px) {
    .third{
      display: none;
    }
    .player{
      width: 400px;
    }
}
@media (max-width: 1200px) {
  .nav .right .premium{
    display: none;
  }
}

@media (max-width:400px) { 
  .player{
    width:390px;
  }
  #playback-bar input{
    width: 390px;
  }
  
}

.third{
  display: flex;
  justify-content: center;
  align-items: center;
}
.third div{
  display: flex;
  margin-left: 40px;
}
.third i{
  opacity: 0.6;
}
.third input{
  appearance: none;
  width: 110px;
  padding-left: 8px;
}
@media (max-width:600px) {
  .first{
    display: none;
  }
  .third{
    display: none;
  }
  .player{
    width: 100%;
  } 
}
