.list{
    overflow: hidden;
}

.headList{
    display: flex;
    align-items: center;
}

.headList img{
   width: 16vw;
   margin: 1.6rem;
   border-radius: 10px;
   box-shadow:10px 10px 55px 4px rgba(0, 0, 0, 0.651);
}

p{
    margin: 0;
}

.info{
    display: flex;
    margin: 2rem 0 0 4rem;
    color: white;
    opacity: 0.5;
}

.titles{
    display: flex;
    gap: 2.7rem;
}

.album{
    margin-left: 16.5rem;
    min-width: 260px;
    width: 260px;
}

.duration-title{
    margin-left: 3.2rem;
}

.add-Title{
    margin-left:15rem;
}

.songDiv{
    margin: 0 1.8rem 0 1.8rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 0.4rem 0 0.4rem 0 ;
}

.songDiv:hover{
    background-color: rgba(46, 45, 45, 0.734);
}

.count{   
    color: white;
    margin: 0 1.6rem 0 1.7rem;
    opacity: 0.8;
    width: 20px;
    text-align: center;
}

.songDiv img{
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    
}

.imageDiv{
    display: flex;
    align-items: center;
    color: white;
}

.Info{
    margin-left: 1rem;
    font-weight: 200;
    font-size: small;
    width: 15rem;
    white-space: nowrap;
    overflow: hidden;
}

.Info  p,h5{
    font-weight: 200;
    font-size:medium;
    width: 12rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.albumDiv {
    width: 260px;
    min-width: 260px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.albumDiv p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

.duration{
    margin-left: 3.2rem;
    color:white;
}

.add-icon{
    margin-left:14.4rem;
    color: white;
    padding: 5px 10px;
    border-radius: 80%;
    z-index: 2;
}

.delete{
    margin: 1rem 0.4rem 0 0 ;
    opacity: 0.8;
}

