<hr style="color: white; opacity: 0.2; margin: 40px 30px 0 30px;" >
<footer class="footerContent">
    <div class="footer-section">
      <h4>Company</h4>
      <ul>
        <li><a>About</a></li>
        <li><a>Jobs</a></li>
        <li><a>For the Record</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Communities</h4>
      <ul>
        <li><a >For Artists</a></li>
        <li><a >Developers</a></li>
        <li><a >Advertising</a></li>
        <li><a >Investors</a></li>
        <li><a >Vendors</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Useful links</h4>
      <ul>
        <li><a >Support</a></li>
        <li><a >Free Mobile App</a></li>
        <li><a >Popular by Country</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h4>Vibetrack Plans</h4>
      <ul>
        <li><a >Premium Individual</a></li>
        <li><a >Premium Duo</a></li>
        <li><a >Premium Family</a></li>
        <li><a >Premium Student</a></li>
        <li><a >Vibetrack Free</a></li>
      </ul>
    </div>
    <div class="social-icons">
      <a ><i class="fa-brands fa-instagram"></i></a>
      <a ><i class="fa-brands fa-twitter"></i></a>
      <a ><i class="fa-brands fa-facebook"></i></a>
    </div>
  </footer>
<hr style="color: white; opacity: 0.2; margin: 0 30px 0 30px;" >
  <div class="footer-bottom">
    <div>
      <a >Legal</a>
      <a >Safety & Privacy Center</a>
      <a >Privacy Policy</a>
      <a >Cookies</a>
      <a >About Ads</a>
      <a >Accessibility</a>
    </div>
    <div>© 2025 Vibetrack AB</div>
  </div>
